[Desktop Entry]
Name=Leko
GenericName=Chess
Comment=Wood, Kingdoms and Chess
Categories=Games;
Exec=com.github.theoteno.leko
Icon=application-default-icon
Terminal=false
Type=Application
Keywords=Chess;
